:root {
    --main-color: #f4f4fd;
}

body {
    /* Тепер (майже) всі елементи відображаються шрифтом без засічок */
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
}

.ul {
    padding-left: 0;
    margin: 0;
}

.sect-four-ul, .sect-two-ul, .sect-thr-ul {
    padding-left: 0;
    margin: 0;
}
.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.nav-span {
    color: #2e2f42;
}

.nav-ul {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.li-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;

}

.li-link:hover,
.li-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header .container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;

}

.nav {
    display: flex;
    align-items: center;

}

/*END HEADER*/

/*Begin 1 section*/
.sect-one {
    background-color: #2e2f42;
    padding: 188px 0;
}

.sect-one-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}

.sect-one-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.sect-one-button:hover,
.sect-one-button:focus {
    background-color: #404BBF;
}

/*End of Section1*/
/*Begin of Section2*/

.sect-two {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.sect-two-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.sect-two-ul {
    display: flex;
    gap: 24px;
}

.sect-two-li {
    width: calc((100% - 72px) / 4);
}

.sect-two-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*End of Section2*/
/*Begin of Section3*/

.sect-thr {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.sect-thr-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.sect-thr-ul {
    display: flex;
    gap: 24px;

}


.sect-thr-li {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
}

.sect-thr-li-div {
    padding: 32px 0;
}

.sect-thr-sub {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.sect-thr-p {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Section four*/

.sect-four {
    padding: 120px 0 120px 0;
}

.sect-four-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-left: 0;
    margin: 0;
}

.sect-four-li {
    width: calc((100% - 48px) / 3);

}

.sect-four-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: 0;
    }

    .sect-four-sub {
        margin-bottom: 8px;
    }

/* END of Section four*/
/* Begin of footer*/
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.footer-span {
    color: var(--main-color);
}

.container {
    max-width: 2000px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.footer-nav-logo {
    display: inline-block;
    margin-bottom: 16px;
}

img {
    display: block;
}